<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<table>
		<thead>
			<th>Titulo</th>
			<th>Autor</th>
			<th>ISBN</th>
			<th>Categoria</th>
			<th>Fecha</th>
		</thead>
               <tbody>
                	<th:block th:each="libro, row:${libros}">
                	<tr th:each="v : ${libro}">
                		<td th:text="${v.s_titulo}"></td>                	
                		<td th:text="${v.s_autor}"></td>
                		<td th:text="${v.s_isbn}"></td>
                		<td th:text="${v.categoria.s_categoria}"></td>
                		<td th:text="${#temporals.format(v.f_ingreso, 'dd-MM-yyyy hh:mm a')}"></td>
                	</tr>
                	</th:block>
                </tbody>
	</table>
	<form method="get" th:action="@{/index}"> 
  <input type="submit" value="Regresar">
  </form>
</body>
</html>